@import url('https://fonts.cdnfonts.com/css/planet-comic');

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    min-height: 100vh; /* S'assure que le conteneur prend au minimum la hauteur de la fenêtre */
    background-color: rgba(0, 92, 255, 0.56);
    padding: 20px; /* Ajout d'un peu de padding pour s'assurer qu'il y a de l'espace autour du formulaire même sur de petits écrans */
}

.login-container {
    width: 100%;
    max-width: 500px; /* Largeur maximale pour le formulaire */
    padding: 40px;
    background-color: rgba(0, 92, 255, 0.17);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Planet Comic", sans-serif;
    font-size: 1.2em;
}

.form-group {
    margin-bottom: 20px; /* Espacement plus grand entre les champs */
}

.form-group label {
    display: block;
    margin-bottom: 10px; /* Espacement plus grand sous le label */
    font-size: 1.2rem; /* Taille de police plus grande pour les labels */
}

.form-group input {
    padding: 15px; /* Padding plus grand pour une meilleure saisie */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 30px); /* Ajustement de la largeur pour le nouveau padding */
    font-size: 1rem; /* Taille de police plus grande pour la saisie */
}

button {
    padding: 15px; /* Padding plus grand pour le bouton */
    border: none;
    border-radius: 10px;
    background-color: #FFC000; /* Bleu vif pour le bouton */
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: "Planet Comic", sans-serif;
    font-size: 1.1rem; /* Taille de police plus grande pour le bouton */
}

button:hover {
    background-color: #ff9900; /* Bleu un peu plus foncé au survol */
}

.signup-text {
    margin-top: 30px; /* Espacement plus grand sous le formulaire */
    font-size: 1rem; /* Taille de police plus grande pour le texte d'inscription */
}

.signup-text a {
    color: #FFC000;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

.back-button {
    position: fixed; /* Utilisez fixed pour garder le bouton visible même lors du scrolling */
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #FFC000; /* Bleu vif pour le bouton */
    font-family: "Planet Comic", sans-serif;
    color: white; /* Couleur du texte */
    text-decoration: none;
    border-radius: 10px;
}

.back-button:hover {
    background-color: #ff9900; /* Bleu un peu plus foncé au survol */
}
