@import url('https://fonts.cdnfonts.com/css/comication');

.sub-navbar {
    display: flex;
    flex-direction: column; /* Organiser les liens verticalement */
    justify-content: flex-start; /* Aligner les liens au début */
    gap: 10px; /* Espacer les liens */
    position: fixed; /* Fixer la navbar sur la page */
    left: 0; /* Positionner à gauche de la page */
    top: 50%; /* Centrer verticalement par rapport à la hauteur de la fenêtre */
    transform: translateY(-50%); /* Centrer précisément avec la transformation */
    padding: 20px; /* Padding autour des liens */
    z-index: 1000; /* S'assurer que la navbar est au-dessus des autres éléments */
}

.sub-navbar a {
    font-family: 'Arial Black', sans-serif;
    color: #555; /* Couleur du texte plus foncée pour les boutons */
    background-color: #f0f0f0; /* Fond gris clair pour les boutons */
    text-decoration: none; /* Supprimer le soulignement */
    font-weight: bold; /* Rendre le texte un peu plus gras */
    padding: 10px 15px; /* Padding pour augmenter la surface cliquable */
    border-radius: 5px; /* Coins arrondis pour l'esthétique */
    text-align: center; /* Centrer le texte dans le bouton */
    transition: background-color 0.3s, color 0.3s; /* Transition douce pour le survol */
    white-space: nowrap; /* Éviter le retour à la ligne du texte */
}

.sub-navbar a:hover {
    transform: translateY(-3px); /* Légère remontée */
    background-color: #FFC000; /* Assombrir le fond au survol */
    color: #03045e; /* Changer la couleur du texte au survol */
}


.student-info-bubble {
    background-color: rgba(240, 240, 240, 0.53); /* Couleur de fond */
    border-radius: 40px; /* Coins arrondis */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre portée pour un effet de profondeur */
    padding: 20px; /* Espace interne autour du contenu */
    margin: 20px auto; /* Centrer la bulle dans la page */
    max-width: 600px; /* Largeur maximale de la bulle */

}

.student-info-bubble h3 {
    color: #005cff; /* Couleur du titre */
    font-family: 'Planet Comic', sans-serif; /* Police du titre */
    text-align: center; /* Centrer le titre */
}

.student-info-bubble p {
    color: #555; /* Couleur du texte */
    font-family: 'Arial', sans-serif; /* Police du texte */
    line-height: 1.5; /* Espacement entre les lignes */
}

.student-profile-pic img {
    width: 150px; /* Ajustez selon la taille désirée */
    height: 150px; /* Ajustez selon la taille désirée */
    border-radius: 50%; /* Rendre l'image circulaire */
    object-fit: cover; /* Assurer que l'image couvre bien la forme circulaire sans être déformée */
    display: block; /* S'assurer que l'image est traitée comme un bloc */
    margin-left: 400px; /* Centrer l'image dans la bulle */
    margin-right: auto; /* Centrer l'image dans la bulle */
    margin-top: -200px; /* Espacement au-dessus de l'image */
    margin-bottom: 60px;
}




/* Styles généraux pour la section de contenu */
.content-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    max-width: 1200px; /* Ajustement pour la largeur maximale */
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}

/* Styles spécifiques pour chaque section sous 'Élèves' */
.eleve-section {
    background-color: rgba(0, 92, 255, 0.17); /* Couleur du titre ajustée pour contraster avec le fond */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
    border-radius: 8px;
    padding: 30px; /* Padding généreux pour plus d'espace */
    transition: background-color 0.3s, transform 0.2s; /* Transition douce pour l'effet hover */

}



/* Titre des sections */
.eleve-section h2 {
    color: #005cff; /* Couleur du titre ajustée pour contraster avec le fond */
    font-family: 'Comication', sans-serif; /* Utilisation de la police Comication */
    font-size: 4.2em; /* Taille de police augmentée */
    margin-bottom: 30px; /* Espacement sous le titre */
    text-align: center; /* Centrer le texte */

}


/* Titre des sections */
.eleve-section p {
    color: white; /* Couleur du titre ajustée pour contraster avec le fond */
    font-family: 'Planet Comic', sans-serif;
    font-size: 1em; /* Taille de police augmentée */
    margin-top: 50px;
    margin-bottom: 30px; /* Espacement sous le titre */
    text-align: center; /* Centrer le texte */

}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Hauteur ajustée pour occuper tout l'écran */
    margin-bottom: 20px; /* Espacement entre les vidéos */
    overflow: hidden; /* Cache les débordements pour maintenir le design propre */
}

video {
    width: auto; /* Réinitialiser la largeur à auto pour gérer le zoom */
    height: 100vh; /* Ajuster la hauteur pour remplir le conteneur */
    min-width: 40%; /* S'assurer que la vidéo couvre au moins toute la largeur */
    object-fit: cover; /* Couvrir l'espace disponible sans perdre le ratio d'aspect */
    border-radius: 8px; /* Coins arrondis pour la vidéo */
}

/* Styles pour le formulaire de quiz */
#quiz-form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacement entre les questions */
}

.quiz-question {
    background-color: rgba(240, 240, 240, 0.66); /* Fond gris clair pour chaque question */
    border-radius: 10px; /* Coins arrondis pour adoucir l'apparence */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre subtile pour la profondeur */
    padding: 20px; /* Padding intérieur pour l'espace autour du texte */
    margin: 15px 0; /* Espacement autour de chaque question */
    font-family: "Berlin Sans FB", serif;
    font-size: 1.4em; /* Taille de police ajustée pour la lisibilité */
    color: #005cff; /* Couleur du texte */
    transition: background-color 0.3s; /* Transition pour un effet au survol */
}


.quiz-question p{
    font-family: "Berlin Sans FB Black", serif;
    color:  #005cff;
}

.quiz-options {
    text-align: left;
    margin: 10px 0;
}

.quiz-options label {
    display: block; /* Faire en sorte que les labels soient sur des lignes séparées */
    margin: 10px 0; /* Espacement entre chaque option */
    cursor: pointer; /* Indiquer que les éléments sont cliquables */
}

.quiz-options input[type="radio"] {
    margin-right: 10px; /* Espacement entre le bouton radio et le label */
}

#quiz-selection button {
    background-color: #005cff; /* Couleur de fond */
    color: white; /* Couleur du texte */
    font-family: "Berlin Sans FB", serif;
    padding: 10px 20px; /* Espacement interne */
    margin: 10px; /* Marge externe */
    font-size: 16px; /* Taille du texte */
    cursor: pointer; /* Indique que le bouton est cliquable */
    border: none; /* Pas de bordure */
    border-radius: 20px; /* Coins arrondis */
    transition: background-color 0.2s, transform 0.2s; /* Transition douce pour le survol */
}

#quiz-selection button:hover {
    background-color: rgba(64, 0, 255, 0.93); /* Couleur de fond au survol */
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
}

.quiz-content {
    display: none; /* Cachez tous les conteneurs de quizz par défaut */
}

/* Bouton de soumission du quiz */
button[type="button"] {
    background-color: #FFC000; /* Bleu vif pour le bouton */
    color: white; /* Texte blanc pour le contraste */
    font-family: "Berlin Sans FB", serif;
    font-size: 1.3em; /* Taille de police augmentée */
    padding: 10px 15px;
    border-radius: 5px; /* Coins arrondis */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Indicateur de clic */
    display: block; /* S'assurer que le bouton est traité comme un bloc */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; /* Auto margins pour centrer horizontalement */
}

button[type="button"]:hover {
    background-color: #ff9900; /* Bleu un peu plus foncé au survol */
}



/* Résultats du quiz pour tous les quizz */
div[id*="results"] {
    margin-top: 20px;
    font-weight: bold;
    font-family: "Berlin Sans FB", serif;
    text-align: center;
    font-size: 1.5em; /* Taille de police augmentée */
}


/* Section des notes */
#mes-notes {
    font-family: 'Planet Comic', 'Arial', sans-serif; /* Utilisation de la police Comication comme principale */
    background-color: rgba(0, 92, 255, 0.17); /* Couleur du titre ajustée pour contraster avec le fond */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
    border-radius: 8px;
    padding: 30px; /* Padding généreux pour plus d'espace */
    transition: background-color 0.3s, transform 0.2s; /* Transition douce pour l'effet hover */

}

/* Titre de la section des notes */
#mes-notes h2 {
    color: #005cff; /* Couleur du titre ajustée pour contraster avec le fond */
    font-family: 'Comication', sans-serif; /* Utilisation de la police Comication */
    font-size: 4.2em; /* Taille de police augmentée */
    margin-bottom: 30px; /* Espacement sous le titre */
    text-align: center; /* Centrer le texte */

}

/* Liste des notes */
#mes-notes ul {
    list-style-type: none; /* Enlever les puces */
    padding: 0;
}

/* Élément individuel de la liste */
#mes-notes li {
    background-color: rgba(240, 240, 240, 0.66); /* Fond gris clair pour chaque question */
    border-radius: 10px; /* Coins arrondis pour adoucir l'apparence */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre subtile pour la profondeur */
    color: #005cff; /* Texte noir pour une lecture facile */
    padding: 15px;
    margin-bottom: 10px; /* Espacement entre chaque note */
    font-size: 20px; /* Taille de police pour les éléments */
}

/* Informations supplémentaires pour chaque note */
#mes-notes li span {
    font-family: 'Berlin Sans FB', sans-serif; /* Utilisation de la police Planet Comic pour une touche ludique */
    display: block; /* Affichage en bloc pour structurer les informations */
    margin-top: 5px; /* Espacement après le score principal */
    font-size: 18px; /* Légèrement plus petit que le texte principal */
    color: #005cff; /* Gris foncé pour les informations supplémentaires */
}

/* Style pour la date et l'heure */
.date-time {
    font-family: 'Berlin Sans FB', sans-serif; /* Police de texte */
    color: #005cff; /* Bleu pour la date et l'heure, pour les faire ressortir */
}

/* ajout d'un hoover de zoom sur les notes */
#mes-notes li:hover {
    transform: scale(1.01); /* Légère augmentation de la taille au survol */

}
