.intro-text {
    padding: 20px;
    background-color: #caf0f8; /* bleu 5 */
    color: #03045e; /* bleu 1 */
    text-align: center;
    margin-top: 60px;
}

.carousel {
    position: relative;
    max-width: 70%; /* Ajustez cette valeur selon vos besoins */
    margin: 20px auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    justify-content: center;
    align-items: center; /* Ajouté pour centrer verticalement les images si elles sont plus petites que le max-height */
    height: 400px; /* Définissez une hauteur fixe pour le conteneur */
}

.carousel-image {
    max-height: 100%; /* Ajustez si nécessaire */
    object-fit: cover; /* Couvre la hauteur et la largeur tout en conservant les proportions */
    display: none; /* Cache les images par défaut */
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 10px;
    z-index: 5; /* Assure que les contrôles sont au-dessus des images */
}

.carousel-control.prev {
    left: 10px; /* Positionnement à gauche avec un peu d'espace */
}

.carousel-control.next {
    right: 10px; /* Positionnement à droite avec un peu d'espace */
}

/* Correction pour les positions des boutons précédent et suivant */
.prev, .next {
    /* Suppression de ces règles pour éviter la confusion et les redondances */
}

@media screen and (max-width: 600px) {
    .carousel img {
        width: 80%; /* Ajustement pour les écrans plus petits */
    }

    .carousel-control.prev, .carousel-control.next {
        font-size: 18px; /* Taille de police réduite pour les petits écrans */
        padding: 8px; /* Padding réduit pour les petits écrans */
    }
}

.site-intro h1 {
    text-align: center;
    color: #0077b6; /* bleu 1 pour le titre */
    margin-top: 20px;
    font-size: 40px;
}

.site-intro p {
    text-align: center;
    color: #90e0ef; /* bleu 2 pour le texte */
    margin: 20px auto;
    max-width: 80%; /* Ajustez selon vos besoins pour le contrôle de la largeur du texte */
}

.welcome-text p {
    text-align: center;
    margin: 20px auto;
    max-width: 80%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #caf0f8; /* Adapté à votre palette de couleurs */
}

footer a {
    color: #03045e; /* Couleur des liens */
    text-decoration: none;
    margin-right: 15px; /* Espacement entre les icônes */
}

footer i {
    margin-right: 5px; /* Espacement entre l'icône et le texte */
}

/* Exemple pour augmenter la taille des icônes */
.fas, .fab {
    font-size: 24px; /* Ajustez la taille selon vos besoins */
    color: #03045e; /* Ajustez la couleur si nécessaire */
}
