@import url('https://fonts.cdnfonts.com/css/comication');

.intro-text {
    padding: 20px;
    background-color: #caf0f8; /* bleu 5 */
    color: #03045e; /* bleu 1 */
    text-align: center;
    margin-top: 60px;
}

.rectangle-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacement entre les rectangles */
    margin: 20px 0;
}

.rectangle {
    background-color: #0077b6; /* Exemple de couleur de fond bleue */
    width: 200px; /* Ajustez selon vos besoins */
    height: 250px; /* Ajustez selon vos besoins */
    border-radius: 10px; /* Coins arrondis */
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rectangle img {
    width: 100%; /* Assure que l'image remplit le rectangle */
    height: auto; /* Maintient les proportions de l'image */
    border-radius: 10px; /* Coins arrondis pour l'image */
    margin-bottom: 10px;
}

.rectangle p {
    color: white; /* Couleur du texte */
    font-weight: bold;
}


.site-intro h1 {
    text-align: center;
    color: #005cff; /* bleu 1 pour le titre */
    margin-top: 100px;
    font-size: 100px;
    font-family: 'Comication', sans-serif;
}

.site-intro p {
    text-align: center;
    color: #90e0ef; /* bleu 2 pour le texte */
    margin: 20px auto;
    max-width: 80%; /* Ajustez selon vos besoins pour le contrôle de la largeur du texte */
}

.welcome-text p {
    text-align: center;
    margin: 20px auto;
    max-width: 70%;
    font-family: 'Berlin Sans FB', sans-serif;
    font-size: 30px;
    color: white;

}


.news-section {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
}

.news-section h2{
    text-align: center;
    margin-top: 40px;
}
.news-title {
    font-size: 4rem; /* Taille de police significative pour le titre */
    text-align: center; /* Centre le titre */
    color: #005cff; /* Couleur sobre pour le texte */
    font-family: 'Comication', sans-serif;

}

.article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 40px auto;
}

.article {
    background-color: #ffffff; /* Fond clair pour les articles */
    border: 1px solid #e1e1e1; /* Bordure subtile */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre discrète */
    border-radius: 5px; /* Coins légèrement arrondis */
    overflow: hidden; /* Assure que tout reste dans les coins arrondis */
    text-decoration: none; /* Supprime le soulignement des liens */
    color: #333; /* Couleur de texte sobre */
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition douce pour l'effet de survol */
}

.article:hover {
    transform: scale(1.05); /* Agrandit légèrement l'article */
    box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* Ajoute une ombre plus prononcée pour l'effet de soulèvement */
}

.article img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; /* Garde une proportion spécifique pour les images */
}

.article h3 {
    padding: 15px;
    margin: 0;
    background-color: #f9f9f9; /* Fond légèrement différent pour le titre */
    color: #333; /* Texte sombre pour contraste */
}

/* Style pour le texte de description ou autre contenu dans .article */
.article p {
    padding: 0 15px 15px;
    margin: 0;
    font-size: 0.9rem;
    color: #666; /* Couleur de texte encore plus discrète */
}


.logo_section {

    display: flex;
    justify-content: center;
    margin-top: 100px;

}

.info-bubble {
    background-color: rgba(240, 240, 240, 0.53); /* Couleur de fond */
    border-radius: 40px; /* Coins arrondis */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre portée pour un effet de profondeur */
    padding: 10px; /* Espace interne autour du contenu */
    margin: 80px auto 80px;
    max-width: 1200px; /* Largeur maximale de la bulle */

}
