@import url('https://fonts.cdnfonts.com/css/planet-comic');

/* Style de base pour html et body */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    min-height: 100vh; /* Hauteur minimum de 100% de la fenêtre */
    background-color: rgba(0, 92, 255, 0.56); /* Couleur de fond */
    padding: 20px; /* Padding pour éviter que le formulaire touche les bords de la fenêtre */
}

/* Container pour le formulaire d'inscription */
.signup-container {
    width: 100%;
    max-width: 500px; /* Largeur maximale pour le container */
    padding: 40px; /* Padding interne */
    background-color: rgba(0, 92, 255, 0.17); /* Couleur de fond similaire au formulaire de connexion */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre portée pour un effet de profondeur */
}

/* Style pour le formulaire d'inscription */
.signup-form {
    display: flex;
    flex-direction: column; /* Disposition verticale des champs */
    color: white; /* Couleur du texte */
    font-family: "Planet Comic", sans-serif; /* Police d'écriture */
    font-size: 1.2em; /* Taille de la police d'écriture */
}

/* Style pour les groupes de formulaires */
.form-group {
    margin-bottom: 20px; /* Marge en dessous de chaque groupe */
}

.form-group label {
    display: block; /* Affiche le label en bloc */
    margin-bottom: 10px; /* Marge en dessous du label */
    font-size: 1.2rem; /* Taille du label */
}

/* Style pour les inputs du formulaire */
.form-group input, .form-group select {
    padding: 15px; /* Padding interne pour le confort de saisie */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 4px; /* Coins arrondis */
    width: calc(100% - 30px); /* Calcul de la largeur pour garder le padding */
    font-size: 1rem; /* Taille de la police d'écriture */
}

/* Style pour le bouton de soumission */
button {
    padding: 15px; /* Padding interne */
    border: none; /* Aucune bordure */
    border-radius: 10px; /* Coins arrondis */
    background-color: #FFC000; /* Couleur de fond */
    color: white; /* Couleur du texte */
    cursor: pointer; /* Curseur pointeur */
    transition: background-color 0.2s; /* Transition de couleur au survol */
    font-family: "Planet Comic", sans-serif; /* Police d'écriture */
    font-size: 1.1rem; /* Taille de la police d'écriture */
}

button:hover {
    background-color: #ff9900; /* Couleur au survol */
}

/* Style pour le texte d'inscription */
.signup-text {
    margin-top: 30px; /* Marge au-dessus */
    font-size: 1rem; /* Taille de la police d'écriture */
}

.signup-text a {
    color: #FFC000; /* Couleur du lien */
    text-decoration: none; /* Aucun soulignement */
}

.signup-text a:hover {
    text-decoration: underline; /* Soulignement au survol */
}

/* Style pour le bouton de retour */
.back-button {
    position: fixed; /* Positionnement fixe */
    top: 20px; /* Positionnement en haut */
    left: 20px; /* Positionnement à gauche */
    padding: 10px 15px; /* Padding interne */
    background-color: #FFC000; /* Couleur de fond */
    color: white; /* Couleur du texte */
    text-decoration: none; /* Aucun soulignement */
    border-radius: 10px; /* Coins arrondis */
    font-family: "Planet Comic", sans-serif; /* Police d'écriture */
}

.back-button:hover {
    background-color: #ff9900;/* Couleur au survol */
}

/* Style pour les inputs de codes d'institution*/
.institution-code-inputs {
display: flex;
gap: 10px; /*Espacement entre les champs*/
}

.institution-code-inputs input {
    flex: 1; /* Permet aux champs de s'étendre de manière égale */
    padding: 15px; /*Padding interne */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 4px; /* Coins arrondis */
    font-size: 1rem; /* Taille de la police d'écriture */
    text-align: center; /* Alignement du texte au centre */
}


.toggle-container {
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
    justify-content: center; /* Centre horizontalement les éléments */
    gap: 10px; /* Espace entre les éléments */
    font-family: "Planet Comic", sans-serif; /* Utilisez votre police préférée */
    color: #FFFFFF; /* Couleur du texte */
    margin-bottom: 20px; /* Marge en dessous de chaque groupe */

}

.toggle-option {
    user-select: none; /* Empêche la sélection du texte */
}

/* Style de base pour le switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Masque le <input> */
.toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Style du toggle */
.toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 92, 255, 0.56); /* Couleur de fond du toggle */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px; /* Bord arrondi */
}

/* Le rond à l'intérieur du toggle */
.toggle-label:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%; /* Rend le rond parfaitement circulaire */
}

/* Change la couleur du fond du toggle quand l'utilisateur le coche */
.toggle-checkbox:checked + .toggle-label {
    background-color: #FFC000; /* Couleur de fond active */
}

/* Déplace le rond à droite quand le toggle est activé */
.toggle-checkbox:checked + .toggle-label:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
