/* Style spécifique pour la page de ressources */
@import url('https://fonts.cdnfonts.com/css/planet-comic');

#resources-content {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centre le contenu pour une meilleure présentation */
}

.emergency-callout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 40px; /* Augmente l'espace autour du callout */
}


.emergency-number {
    text-decoration: none; /* Supprime le soulignement */
    display: flex;

    background-color: #FFC000; /* bleu 2, selon votre palette */
    color: white;
    font-size: 48px;
    font-weight: bold;
    width: 150px; /* Ajuste la taille de la bulle */
    height: 150px; /* Ajuste la taille de la bulle */
    border-radius: 50%; /* Crée une forme de bulle */
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Ombre plus prononcée */
    margin-bottom: 10px; /* Espace entre le numéro et le texte */
}

.emergency-number:hover {
    background-color: #ff9900; /* Nouvelle couleur au survol */
    transform: scale(1.06); /* Grossissement de la bulle au survol */
}


.callout-text {
    font-size: 18px;
    margin-top: 0; /* Ajustement de l'espacement */
}

.intro-text {
    margin: 30px 0 20px; /* Augmente l'espacement pour plus d'aération */
    font-size: 18px; /* Taille de police légèrement plus grande */
    color: #555;
}

.resources-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto; /* Centre la liste */
    max-width: 600px; /* Contrôle la largeur de la liste pour plus d'aération */
}

.resources-list li {
    background-color: #f0f0f8;
    margin: 20px 0; /* Augmente l'espacement entre les items */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition pour hover */
}

.resources-list li:hover {
    transform: translateY(-5px); /* Légère remontée */
    box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* Ombre plus prononcée */
}

.resources-list li a {
    color: #0077b6;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Douce transition pour la couleur */
}

.resources-list li a:hover {
    color: #0056b3; /* Couleur légèrement plus foncée au survol */
    text-decoration: underline;
}

.resources-title {
    margin-bottom: 50px; /* Augmente l'espacement avant la liste */
    color: #005cff;
    font-size: 32px; /* Taille de police plus grande pour le titre */
    font-family: 'Planet Comic', sans-serif;
}

.search-container {
    margin: 20px auto;
    width: 100%; /* Ajustez selon vos besoins */
}

#search-input {
    width: 80%; /* Ajustez la largeur selon vos préférences */
    padding: 10px;
    margin-bottom: 20px; /* Espace avant la liste des ressources */
    font-size: 16px; /* Taille de police pour la saisie */
    border: 1px solid #0077b6;
    border-radius: 20px; /* Coins arrondis pour le champ de recherche */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Légère ombre pour la profondeur */
}

#search-input:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 8px rgba(0,80,180,0.5); /* Ombre plus marquée lors de la sélection */
}
