body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #03045e; /* bleu 1 pour le texte */
}
.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.logo a {
    font-weight: bold;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li a {
    transition: background-color 0.2s;
}

.nav-links li a:hover {
    background-color: #ddd;
    color: black;
}



.intro-text {
    padding: 20px;
    background-color: #caf0f8; /* bleu 5 */
    color: #03045e; /* bleu 1 */
    text-align: center;
    margin-top: 60px; /* Ajuster selon la hauteur de votre navbar */
}
.carousel-images {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.carousel-image {
    max-width: 100%;
    display: none; /* Cache toutes les images par défaut */
    transition: 0.5s ease;
}

.active {
    display: block; /* Affiche seulement l'image active */
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 24px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
/* Mobile responsiveness pour le carrousel */
@media screen and (max-width: 600px) {
    .carousel {
        flex-direction: column;
        align-items: center;
    }

    .carousel img {
        width: 80%; /* Images plus grandes sur mobile */
    }
}

/* Styles existants... */

.content-section {
    padding: 20px;
    margin-top: 80px; /* Ajuster en fonction de la hauteur de votre navbar */
}

/* Utilisation des couleurs de la DA pour les titres et liens */
h2 {
    color: #00b4d8; /* bleu 3 */
}

a {
    color: #0077b6; /* bleu 2 */
    text-decoration: none;
}

a:hover {
    color: #03045e; /* bleu 1 */
}
