@import url('https://fonts.cdnfonts.com/css/planet-comic');

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Modifié pour utiliser min-height */
    margin: 0;
    background-color: rgba(0, 92, 255, 0.56);
}

main { /* Si vous n'avez pas déjà un élément <main>, vous devriez l'ajouter autour de votre contenu principal, excluant le <header> et le <footer> */
    flex: 1;
}




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005cff; /* bleu 5 */
    padding: 15px 15px; /* Ajustez la hauteur de la navbar si nécessaire */
}

.navbar a{
    font-family: 'Planet Comic', sans-serif; /* Utilisation de la police Planet Comic */
}

.logo a img {
    height: 400px; /* Taille du logo augmentée */
}

.nav-links li {
    margin-right: 10px; /* Ajoute une marge à droite de chaque élément de la liste */
    /* Vous pouvez ajuster la valeur de 10px selon vos besoins */
}

.nav-links li a {
    display: block;
    padding: 20px 25px; /* Augmente l'espace autour du texte pour le rendre plus grand */
    font-size: 20px; /* Taille du texte augmentée */
    color: white; /* Change la couleur du texte en blanc */
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 25px; /* Ajoute des coins arrondis pour les liens */
}

.nav-links li a:hover {
    background-color: #FFC000; /* orange pour le hover, avec des coins arrondis */
    color: #03045e; /* bleu foncé pour le texte du hover */
}

.connexion-btn:hover {
    color: #03045e; /* bleu 1 pour le texte du hover */
}

.connexion-btn {
    background-color: #ff9900; /* bleu 2 */
    color: white;
    padding: 10px 15px;
    border-radius: 20px; /* Coins arrondis pour le bouton connexion */
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


/* Responsive design pour le menu, par exemple pour un affichage en hamburger sur les petits écrans */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Ou basculer vers une mise en page différente */
    }
    /* Ajoutez ici des styles pour un menu hamburger ou un autre comportement responsive */
}

.home-link {
    font-weight: bold; /* Rend le texte "Home" en gras */
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #005cff; /* Adapté à votre palette de couleurs */
}

footer a {
    color: white; /* Couleur des liens */
    text-decoration: none;
    margin-right: 15px; /* Espacement entre les icônes */
}

footer i {
    margin-right: 5px; /* Espacement entre l'icône et le texte */
}

/* Exemple pour augmenter la taille des icônes */
.fas, .fab {
    font-size: 24px; /* Ajustez la taille selon vos besoins */
    color: white; /* Ajustez la couleur si nécessaire */
}